/* generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$colorFondo: darkkhaki;
$gap: 50px;
$row-height: 300px;
$colorNegro: rgb(54, 53, 53);
$colorRojo: red;

$colores:(
    "colorNegro": $colorNegro,
    "colorRojo": $colorRojo,
);

@mixin estiloTexto {
    font-size: 30px;
    color: map-get($colores, "colorNegro");
    font-weight: 500;
    text-align: center;
}

#titleHead {
    @include estiloTexto;
}

p {
    font-family: 'Noto Sans', sans-serif;
    text-align: left;
}

li {
    font-family: 'Noto Sans', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/* Header y navbar */
.barraNavegacion__lista {
    list-style: none;
}

.barraNavegacion__lista li {
    display: inline-block;
    margin: 20px;
}

.logo {
    width: 80px;
}

#cabeceraSitio {
    background-color: $colorFondo!important;
}

#cabeceraSitio a {
    color: #fff !important;
}

.banner {
    width: 100%;
    height: 100%;
}

.galeriaProductos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.navegadorHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.nav-content {
    display: flex;
    justify-content: space-around;
    width: 100%;

}

.logo-content {
    flex: 1;
    display: flex;
    justify-content: center;
}

.navbar-new {
    flex: 1;
}

.navbar-new a {
    margin: 20px;
}

.tituloProducto {
    text-align: center;
    color: black;
    font-weight: bold;
}

.dosColumnas {
    max-width: 50%;
    &__titulo{
        font-size: 25px;
        color: rgb(32, 32, 32);
    }
    &__contenido{
        font-size: 16px;
        text-align: left;
    }
    &__lista{
        color: rgb(49, 49, 49);
    }
}

.dosColumnasContenido {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* Contactos formulario */
input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


/* Contenedores estructurales */

.cont-galeria {
    padding: var($gap);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var($gap);
    justify-content: center;
}

.cont-galeria>div {
    object-fit: cover;
}

.cont-galeria>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.format-color {
    color: #fff;
}

/* animación card */
/* contenido de cartas */
.contCards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 80px;
    margin-top: 80px;
}

.mainContainerCard {
    height: 320px;
    width: 250px;
    position: relative;
    perspective: 500px;
}

.card {
    width: 100%;
    height: 100%;
    box-shadow: .5px 1px 10px black;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: all 1.5s ease;
}

.card:hover {
    transform: rotateY(180deg);
}

.cardFront {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: translateZ(80px);
    backface-visibility: hidden;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardBack {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titularCard {
    background-color: #fff;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: rgb(60, 58, 58);
    box-shadow: .5px 1px 10px black;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}

.cardBack h2 {
    font-size: 25px;
    flex: 1;

}

.cardBack p {
    flex: 1;
}

.cardBack a {
    background-color: #fff;
    border: 1px solid rgb(57, 57, 57);
    box-shadow: 0px 0px 10px .2px rgb(165, 165, 165);
    padding: 20px 60px;
    text-align: center;
    margin-bottom: 20px;
}

.cardBack a:hover {
    background-color: rgb(60, 58, 58);
    color: #fff;

}

#card1 {
    background: url(imagenes/productos-home.jpg);
    background-size: cover;
    background-position: center;
}

#card2 {
    background: url(imagenes/recetas-home.jpg);
    background-size: cover;
    background-position: center;
}

#card3 {
    background: url(imagenes/nosotros-home.jpg);
    background-size: cover;
    background-position: center;
}

#card4 {
    background: url(imagenes/contacto-home.jpg);
    background-size: cover;
    background-position: center;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: beige;
}

.footerAireSuperior {
    padding-top: 30px;
}

.socialMedia {
    width: 30px;
}

.qrLogo {
    width: 130px;
}

/* Media query */

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-new {
        display: flex !important;
        flex-basis: auto;
    }
}


@media screen and (max-width: 488px) {
    * {
        $row-height: 200px;
    }

    .cont-galeria {
        grid-template-columns: 1fr;
    }

    .navegadorHome>img {
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .cont-galeria {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1270px) {
    .contCards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mainContainerCard {
        margin: 50px;

    }
}