@charset "UTF-8";
/* generales */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#titleHead {
  font-size: 30px;
  color: #363535;
  font-weight: 500;
  text-align: center;
}

p {
  font-family: 'Noto Sans', sans-serif;
  text-align: left;
}

li {
  font-family: 'Noto Sans', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

/* Header y navbar */
.barraNavegacion__lista {
  list-style: none;
}

.barraNavegacion__lista li {
  display: inline-block;
  margin: 20px;
}

.logo {
  width: 80px;
}

#cabeceraSitio {
  background-color: #413e3e !important;
}

#cabeceraSitio a {
  color: #fff !important;
}

.banner {
  width: 100%;
  height: 100%;
}

.galeriaProductos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recetario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recetario .iframeStyle {
  width: 80%;
  height: 450px;
  -o-object-fit: contain;
     object-fit: contain;
}

.contenedorIframe {
  width: 50%;
}

.contenedorIframe .iframeStyleMap {
  width: 100%;
  height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
}

.dosColumnasContenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dosColumnasContenido .dosColumnas {
  width: 50%;
}

.dosColumnasContenido .dosColumnas__titulo {
  font-size: 25px;
  color: #202020;
}

.dosColumnasContenido .dosColumnas__contenido {
  font-size: 16px;
  text-align: left;
}

.dosColumnasContenido .dosColumnas__lista {
  color: #313131;
}

/* Contactos formulario */
form {
  width: 60%;
  margin: 0 auto;
}

input[type=text],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type=email],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #363535;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #363535;
}

/* Contenedores estructurales */
.cont-galeria {
  padding: var(50px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: var(50px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cont-galeria .navegadorHome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.cont-galeria .navegadorHome .tituloProducto {
  text-align: center;
  color: black;
  font-weight: bold;
}

.cont-galeria div {
  -o-object-fit: cover;
     object-fit: cover;
}

.cont-galeria div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.format-color {
  color: #fff;
}

/* animación card */
/* contenido de cartas */
.contCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 80px;
  margin-top: 80px;
}

.contCards .mainContainerCard {
  height: 320px;
  width: 250px;
  position: relative;
  -webkit-perspective: 500px;
          perspective: 500px;
}

.contCards .mainContainerCard .card {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: .5px 1px 10px black;
          box-shadow: .5px 1px 10px black;
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

.contCards .mainContainerCard .card #card1 {
  background: url(imagenes/productos-home.jpg);
  background-size: cover;
  background-position: center;
}

.contCards .mainContainerCard .card #card2 {
  background: url(imagenes/recetas-home.jpg);
  background-size: cover;
  background-position: center;
}

.contCards .mainContainerCard .card #card3 {
  background: url(imagenes/nosotros-home.jpg);
  background-size: cover;
  background-position: center;
}

.contCards .mainContainerCard .card #card4 {
  background: url(imagenes/contacto-home.jpg);
  background-size: cover;
  background-position: center;
}

.contCards .mainContainerCard .card .cardFront {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transform: translateZ(80px);
          transform: translateZ(80px);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contCards .mainContainerCard .card .cardFront .titularCard {
  background-color: #fff;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: #3c3a3a;
  -webkit-box-shadow: .5px 1px 10px black;
          box-shadow: .5px 1px 10px black;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
}

.contCards .mainContainerCard .card .cardBack {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contCards .mainContainerCard .card .cardBack h2 {
  font-size: 25px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contCards .mainContainerCard .card .cardBack p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.contCards .mainContainerCard .card .cardBack a {
  background-color: #fff;
  border: 1px solid #393939;
  -webkit-box-shadow: 0px 0px 10px 0.2px #a5a5a5;
          box-shadow: 0px 0px 10px 0.2px #a5a5a5;
  padding: 20px 60px;
  text-align: center;
  margin-bottom: 20px;
}

.contCards .mainContainerCard .card .cardBack a:hover {
  background-color: #3c3a3a;
  color: #fff;
}

.card:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

/* Footer */
.qrLogo {
  width: 130px;
}

/* Media query */
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-new {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

@media screen and (max-width: 488px) {
  .cont-galeria {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .dosColumnasContenido {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navegadorHome > img {
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .cont-galeria {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1270px) {
  .contCards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainContainerCard {
    margin: 50px;
  }
}
/*# sourceMappingURL=design.css.map */